amqp==2.3.2
anyjson==0.3.3
billiard==3.5.0.3
celery==4.2.0
certifi==2022.12.7
dj-database-url==0.4.2
Django==2.0
python-decouple==3
django-background-tasks==1.1.13
django-celery==3.2.2
django-celery-beat==1.1.1
django-compat==1.0.15
django-heroku==0.1.0
gunicorn==19.7.1
kombu==4.2.1
pipenv==2018.5.18
pkg-resources==0.0.0
pygame==1.9.3
pytz==2017.3
redis==2.10.3
requirements==0.1
six==1.11.0
vine==1.1.4
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
