{% extends 'app/base.html'%}
{% block content%}
<style>
    
h3{
    font-size:60px;
    color:green;
    text-align:center;
}
blockquote{
    text-align:justify;
}
h4{
    color:darkgreen;
}
</style>
<br><br>
    <h3>F.A.Q</h3>
<br><br>
<div class="container">
    <div class="row">
            <div class="col-lg-6">
                    <ol>
                        <li><h4>What is Galviny all about</h4></li>
                    
                        <blockquote>Answer – Galviny is an investment platform with numerous trading communities that gives investors opportunity to partner with us. Galviny is involved in various business and have decided to give partners opportunity to partake in a few which are: Crypto-currency, Oil and Gas and FOREX trading. The businesses we invest in are carefully selected and are limited to business that gives daily profit which is shared daily with partners.</blockquote>
                        <li><h4>Where does Galviny get money to pay investors?</h4></li>
                        <blockquote>
                            Answer – Galviny’s money are generated daily with very huge capital mainly from trading in FOREX, Crypto-currency and Oil and Gas business.
                        </blockquote>
                        <li><h4>Is Galviny a PONZI or HYIP?</h4></li>
                        <blockquote>Answer – Galviny is neither a ponzi nor HYIP. Ponzi and HYIP have nothing they trade on. You rub Peter to pay Paul in Ponzi and HYIP, but in Galviny the money invested is used to trade and the profit is shared accordingly. Therefore, Galviny is not a Ponzi or HYIP.</blockquote>
                        <li><h4>Is Galviny Registered with Cooperate Affairs commission?</h4></li>
                        <blockquote>Answer – YES! Galviny is certified and registered with cooperate affairs commission</blockquote>
                        <li><h4>How long does it take to get paid?</h4></li>
                        <blockquote>
                            Answer – Every profit made is shared daily with partners and every partner is entitled to withdraw profit and get credited. So once the profit is shared for the day, it can be withdrawn.
                        </blockquote>
                        <li><h4>What is the minimum withdrawal?</h4></li>
                        <blockquote>
                            Answer – The minimum withdrawal is 1,000 Naira. 
                        </blockquote>
                        <li><h4>Why the charge for each withdrawal?</h4></li>
                        <blockquote>
                            Answer – 200 Naira charge per withdrawal is used for logistics. Any amount whatsoever you are withdrawing have a fixed withdrawal charge of 200 Naira.
                        </blockquote>
                    </ol>
                </div>
                <div class="col-lg-6">
                        <ol start="8">
                                <li><h4>Why the charge for each withdrawal?</h4></li>
                                <blockquote>
                                    Answer – 200 Naira charge per withdrawal is used for logistics. Any amount whatsoever you are withdrawing have a fixed withdrawal charge of 200 Naira.
                                </blockquote>
                                <li><h4>Why the charge for each withdrawal?</h4></li>
                                <blockquote>
                                    Answer – 200 Naira charge per withdrawal is used for logistics. Any amount whatsoever you are withdrawing have a fixed withdrawal charge of 200 Naira.
                                </blockquote>
                            <li><h4>Why is there a 10 days cap on withdrawal?</h4></li>
                        
                            <blockquote>Answer – Galviny put a 10 days withdrawal cap on all trading group to reduce the load on the payment system. Although withdrawal could be made before the 10th day but this attracts a charge of 2,000 Naira.</blockquote>
                            <li><h4>How do I invest with Galviny?</h4></li>
                            <blockquote>
                                    Answer – Register on the website and fund your wallet with the amount you wish to invest and then choose from the 3 Major trade groups we have, each of which have their various daily % profit.
                            </blockquote>
                            <li><h4>Do I have to refer people to get paid?</h4></li>
                            <blockquote>Answer – Galviny is not a multilevel marketing platform so you don’t need to refer people before you get paid. However we reward anyone who goes the extra mile to invite others with his or her referral link, you get 3% of the first investment ONLY for anyone you refer.</blockquote>
                            <li><h4>Can reinvestment be done?</h4></li>
                            <blockquote>Answer ­– Reinvestment in Galviny can be done only when the current trade has been concluded depending on the time frame for the trade group you chose. This means reinvestment is done one at a time.</blockquote>
                            
                        </ol>
                    </div>
    </div>
</div>



{% endblock%}