{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
	<title>Dashboard | Galviny - User profile page</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'app/css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'app/css/lineariconstyle.css'%}">
	<!-- MAIN CSS -->
	<script src="{% static 'app/js/jquery.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'app/css/main.css'%}">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<script src="{% static 'app/js/voguepay.js'%}"></script>
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<style>
    form li {
        list-style-type: none;
		font-size:16px;
		padding-bottom:20px;
		font-weight: normal;
		font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}
	form li span{
		padding-right:30px;
		padding-left:30px;
	}
</style>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html">Galviny</a>
			</div>
			<div class="container-fluid">
				
				<div class="navbar-btn">
						<button type="button" class="btn-toggle-fullwidth"><i class="fa fa-bars"></i></button>
					</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'app/img/user.png'%}" class="img-circle" alt="Avatar"> <span>{{user.username}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
						<ul class="nav">
								<li><a href="{% url 'profile' %}" class="active"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
								<li><a href="{% url 'fundwallet' %}" class=""><i class="fa fa-cart-arrow-down"></i> <span>Fund wallet</span></a></li>
								<li><a href="{% url 'withdrawal' %}" class=""><i class="fa fa fa-key"></i> <span>Withdraw</span></a></li>
								<li><a href="{% url 'testimony'%} " class=""><i class="fa fa-microphone"></i> <span>Testimony</span></a></li>
								<li>
								
								<li><a href="" class=""><i class="fa fa-bell"></i> <span>Contact us</span></a></li>
							</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
                            <h2 class="panel-title">You have selected <strong style="color:rgb(17, 192, 17);">Forex</strong></h2>
                            <h4 style="color:rgb(150, 21, 12);">Please select a forex-plan system</h4>
								</div>
						<div class="panel-body">
							<div class="row">
								<form action="" name="myForm" id="forex_choice">
									{% csrf_token %}
								<p><label for="id_forex_choice_0">Forex choice:</label> <ul id="id_forex_choice">
									<li><label for="id_forex_choice_0"><input type="radio" name="forex_choice" value="10000" required id="id_forex_choice_0" />
								 100000   = 1,700 profit daily</label>
								
								</li>
									<li><label for="id_forex_choice_1"><input type="radio" name="forex_choice" value="200000" required id="id_forex_choice_1" />
								 200,000  = 3,400 profit daily</label>
								
								</li>
									<li><label for="id_forex_choice_2"><input type="radio" name="forex_choice" value="300000" required id="id_forex_choice_2" />
								 300,000  = 5,100 profit daily</label>
								
								</li>
									<li><label for="id_forex_choice_3"><input type="radio" name="forex_choice" value="400000" required id="id_forex_choice_3" />
								 400,000  = 6,800 profit daily</label>
								
								</li>
									<li><label for="id_forex_choice_4"><input type="radio" name="forex_choice" value="500000" required id="id_forex_choice_4" />
								 500,000  = 8,500 profit daily</label>
								
								</li>
									<li><label for="id_forex_choice_5"><input type="radio" name="forex_choice" value="600000" required id="id_forex_choice_5" />
								 600,000  = 10,200 profit daily</label>
								
								</li>
									
								</ul></p>
								<button type="submit" value="submit" onclick ="voguepay()" class="btn btn-success" style="float:right">Submit</button>
                               <center> 
								<input type="hidden" id="username" value={{request.user.username}}>
								<input type="hidden" id="address" value={{user.profile.address}}>
								<input type="hidden" id="email" value={{user.email}}>
								<input type="hidden" id="phone" value={{user.profile.phone}}>



							
								  
                             
                                </form>
								
							
							</div>
							
						
							<script>
								closedFunction=function() {
									alert('window closed');
								}
							
								 successFunction=function(transaction_id) {
									$(document).on('submit', '#forex_choice', function(e){
										e.preventDefault();
										$('#closed').click(function () {
										  $('.modals').css('display', 'none');
										  
									  });
										$.ajax({
											type: 'POST',
											url: '/forex/',
											enctype: "multipart/form-data",
											beforeSend: function () {
												$('.modals').css('display', 'block')
												$('#ajax_text').css('display', 'block');
												$('#ajax_image').css('display', 'block');
											},
											  data: {
												  
							  
														   choice: document.forms.myForm.forex_choice.value,
														   csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
											},
							  
											success: function (data) {
												if (data.already_done) {
													alert('You cannot do more than one plan at a time')
												}
							  
												else {
													alert('saved successfully');
												}
											},
											error: function (xhr, errmsg) {
												$('#error').html("<div class='alert-box alert radius' data-alert> Opps! We have encountered and error: </div>");
											}
										});
										
							  
									});
		
									  </script>
								}
							
								 failedFunction=function(transaction_id) {
									 alert('Transaction was not successful, Ref: '+transaction_id)
								}
							</script>
											
						
							<script>
								function voguepay(){
									var selected = document.forms.myForm.forex_choice.value;
													
													Voguepay.init({
														
														v_merchant_id: '1767-0065353',
														total: selected,
														notify_url: 'http://domain.com/notification.php',
														cur: 'NGN',
														merchant_ref: 'ref123',
														memo: 'Payment for Forex',
														recurrent: true,
														frequency: 10,
														developer_code: '5b1fe41cab8af',
														store_id: 1,
														loadText:'Please wait',
														items: [
															{
																name: "Forex",
																description: "Forex currency purchase",
																price: selected
															},
															
														],
														customer: {
														   name: document.getElementById('my_username').value,
														   address: document.getElementById('address').value,
														   city: 'Customer city',
														   state: 'Customer state',
														   zipcode: 'Customer zip/post code',
														   email: document.getElementById('email').value,
														   phone: document.getElementById('phone').value
													   },
														closed:closedFunction,
														success:successFunction,
														failed:failedFunction
													});
											
							  
								}
							</script>
		
									  
		
		
		
		
		
		
		
		
					 
					</div>
				</div>
					  <div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2018 <a href="https://galviny.com" target="_blank">Galviny</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	
	<script src="{% static 'app/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'app/js/klorofil-common.js' %}"></script>
	
</body>
</html>
