{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
	<title>Dashboard | Galviny - User profile page</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'app/css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'app/css/lineariconstyle.css'%}">
	<!-- MAIN CSS -->
	<script src="{% static 'app/js/jquery.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'app/css/main.css'%}">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<script src="{% static 'app/js/voguepay.js'%}"></script>
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<style>
    form li {
        list-style-type: none;
		font-size:16px;
		padding-bottom:20px;
		font-weight: normal;
		font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}
	form li span{
		padding-right:30px;
		padding-left:30px;
	}
</style>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html">Galviny</a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"> <span>Fund Wallet</span></a>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'app/img/user.png'%}" class="img-circle" alt="Avatar"> <span>{{user.username}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="{% url 'fundwallet' %}" class=""><i class="lnr lnr-code"></i> <span>Fund wallet</span></a></li>
						<li><a href="" class=""><i class="lnr lnr-chart-bars"></i> <span>Lend Money</span></a></li>
						<li><a href="{% url 'withdrawal' %}" class=""><i class="lnr lnr-cog"></i> <span>Withdraw</span></a></li>
						<li><a href="" class=""><i class="lnr lnr-alarm"></i> <span>Testimony</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Profile</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="" class="">Edit Profile</a></li>
									<li><a href="" class="">Logout</a></li>
								</ul>
							</div>
						</li>
						<li><a href="" class=""><i class="lnr lnr-dice"></i> <span>Contact us</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
                            <h2 class="panel-title">You have selected <strong style="color:rgb(17, 192, 17);">Forex</strong></h2>
                            <h4 style="color:rgb(150, 21, 12);">Please select a forex-plan system</h4>
								</div>
						<div class="panel-body">
							<div class="row">
								<form action="" name="myForm" id="forex_choice">
									{% csrf_token %}
								<p><label for="id_crypto_choice_0">Crypto choice:</label> <ul id="id_crypto_choice">
									<li><label for="id_crypto_choice_0"><input type="radio" name="crypto_choice" value="50000" required id="id_crypto_choice_0" />
								 100,000   = 1,700 profit daily</label>
								
								</li>
									<li><label for="id_crypto_choice_1"><input type="radio" name="crypto_choice" value="100000" required id="id_crypto_choice_1" />
								 200,000  = 3,400 profit daily</label>
								
								</li>
									<li><label for="id_crypto_choice_2"><input type="radio" name="crypto_choice" value="200000" required id="id_crypto_choice_2" />
								 300,000  = 5,100 profit daily</label>
								
								</li>
									<li><label for="id_crypto_choice_3"><input type="radio" name="crypto_choice" value="300000" required id="id_crypto_choice_3" />
								 400,000  = 6,800 profit daily</label>
								
								</li>
									<li><label for="id_crypto_choice_4"><input type="radio" name="crypto_choice" value="400000" required id="id_crypto_choice_4" />
								 500,000  = 8,500 profit daily</label>
								
								</li>
									<li><label for="id_crypto_choice_5"><input type="radio" name="crypto_choice" value="500000" required id="id_crypto_choice_5" />
								 600,000  = 10,200 profit daily</label>
								
								</li>
									
								</ul></p>
							  
                               <center> 
								   <input type="submit" value="submit" class="btn btn-success ">
                                </form>
								
							
							</div>
							
						
					<script>
						closedFunction=function() {
							alert('window closed');
						}
					
						 successFunction=function(transaction_id) {
							alert('Transaction was successful, Ref: '+transaction_id)
						}
					
						 failedFunction=function(transaction_id) {
							 alert('Transaction was not successful, Ref: '+transaction_id)
						}
					</script>
													
					 				
					<script>
						$(document).on('submit', '#forex_choice', function(e){
							e.preventDefault();
							$('#closed').click(function () {
							  $('.modals').css('display', 'none');
							  
						  });
							$.ajax({
								type: 'POST',
								url: '/forex/',
								enctype: "multipart/form-data",
								beforeSend: function () {
									$('.modals').css('display', 'block')
									$('#ajax_text').css('display', 'block');
									$('#ajax_image').css('display', 'block');
				  
								},
								  data: {
									  
				  
											   choice: document.forms.myForm.crypto_choice.value,
											   csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
								},
				  
								success: function (amount) {
									if (amount.count) {
										$('#error').css('display', 'block');
										 $('#ajax_text').css('display', 'none');
										 $('#ajax_image').css('display', 'none');
										 $('#closed').css('display', 'block');
										$('.modals').css('display', 'block');
									}
				  
									else {
										alert('You have successfully added a plan. it will be confirmed shortly');
										$('.modals').css('display', 'none');
										$('#ajax_text').css('display', 'none');
										$('#ajax_image').css('display', 'none');
				  
				  
									}
								},
								error: function (xhr, errmsg) {
									$('#error').html("<div class='alert-box alert radius' data-alert> Opps! We have encountered and error: </div>");
								}
							});
				  
						});
						  </script>
				
					 
					</div>
				</div>
					  <div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2018 <a href="https://www.themeineed.com" target="_blank">Galviny</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	
	<script src="{% static 'app/js/bootstrap.min.js' %}"></script>
</body>
</html>
