{% extends 'app/base.html'%}
{% block content %}
<style>
  body{
    background-color:rgb(235, 227, 227);
  }
  .center-div{
    width:100%;
    background-color:white;
    padding:20px 40px 40px 40px;
    
  }
  .heading{
    background-color:darkslateblue;
    color:white;
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
    padding-top:15px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius:5px;
  }
</style>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-5">
      <div class="heading"><span>Galviny Login</span></div>
      <div class="center-div">
        <form method="post">
         {% csrf_token %}
          
            <p>
              <label for="id_username">Username:</label><br>
              
              <input type="text" name="username" autofocus maxlength="254" required id="id_username" class="form-control" />
    
              
            </p>
          
            <p>
              <label for="id_password">Password:</label><br>
              
              <input type="password" name="password" required id="id_password" class="form-control" />
              
              
            </p>
          
            <center>
                <button type="submit" class="btn btn-info btn-lg">Log in</button><br><br>
                <p>No account yet? <a href="/signup/">Sign up</a></p><a style="color:red" href="{% url 'password_reset'%}">Reset Password</a>
                
            </center>
        </form>
  
      </div>
    </div>
  </div>
</div>
<br><br><br>
  {% endblock %}