{% extends 'app/base.html'%}
{% block content%}
<style>
    
h3{
    font-size:60px;
    color:green;
    text-align:center;
}
blockquote{
    text-align:justify;
}
h4{
    color:darkgreen;
}
</style>
<br><br>
    <h3>Privacy Policy</h3>
<br><br>
<div class="container">
    <div class="row">
      <strong>Privacy Policy</strong>
      <blockquote>
            This privacy policy applies to all the web pages of Galviny.
            All information gathered about you on the website is used to personally identify users that subscribe to Galviny’s service. The information will be used only for that which is stated in Galviny Terms of service. The Site may collect certain information about your visit. Information collected is used to help improve the Site. We may change our Service and policies, and we may need to make changes to these Terms so that they accurately reflect our Service and policies. Unless otherwise required by law. We are not obliged to notify you before we make changes to these Terms. If you have any questions or concerns about our privacy policy, contact us through the appropriate channels. By using this website, you consent to our Privacy Policy. If you do not agree to this policy, please do not use this site.
      </blockquote>
      <strong>Cookie/Tracking Technology</strong>
      <blockquote>
            The Site may use cookie and tracking technology depending on the features offered. Cookie and tracking technology are useful for gathering information such as browser type and operating system, tracking the number of visitors to the Site, and understanding how visitors use the Site. Cookies can also help customize the Site for visitors. Personal information cannot be collected via cookies and other tracking technology; however, if you previously provided personally identifiable information, cookies may be tied to such information. Aggregate cookie and tracking information may be shared with third parties.
      </blockquote>
      <strong>Refunds Policy</strong>
      <blockquote>
            Once your wallet is funded, you can request withdrawal if you do not wish to lend your money to us. Note that a logistics fee of 200 Naira will be deducted for every withdrawal. 
      </blockquote>
      <strong>Payouts</strong>
      <blockquote>
            Investment profit can be withdrawn daily. The minimum that can be withdrawn per day is 1,000 Naira. Withdrawal is done once a day. Logistics fee of 200 Naira will be deducted for every withdrawal. Note that a waiting period of 10 days is required from the first day you lend us your money and also from the day of last withdrawal. However, if you wish to make withdrawal before your 10th day, a service charge of 2,000 Naira will be deducted and the balance paid to you.
      </blockquote>
      <strong>Registration Limitations </strong>
      <blockquote>
            Registration is done once. If any member is found having more than one account, such account will be terminated immediately.
      </blockquote>
      <strong>Re-investment </strong><br><br>
      <blockquote>
            Reinvestment is done after the duration of time stated for the trade group you invested in elapses. This means investment is done one at a time.
      </blockquote>
      <strong>Taxes and Representation</strong>
      <blockquote>
            Galviny is not responsible for partner personal or business tax and will not be held for partner’s tax violation. Each partner is completely responsible for their own taxes.
      </blockquote>
      <strong>Media</strong>
      <blockquote>
            All media enquiries must be referred to Galviny. No Partner can represent the Galviny in the Public Media Arena.
      </blockquote>
      <strong>Copyright</strong>
      <blockquote>
            All content owned and operated by Galviny such as text, graphics, logos, button icons, images and so on belong to Galviny or its content suppliers and is protected by International copyright laws. All software used by Galviny is the property of Galviny.
      </blockquote>
      <strong>Trademarks and use of Galviny name</strong>
      <blockquote>
            The Company name: Galviny, Trademark, logos can only be used by obtaining written consent from Galviny.
      </blockquote>
      <strong>Credit Card</strong>
      <blockquote>
            We accept MasterCard and Visa credit cards. If you do not have a credit card please utilize one of the other payment options, or simply log off and return to the site at a later time to complete your wallet funding.
      </blockquote>
      <h4>Updating These Terms</h4>
      <blockquote>
            We may change our Service and policies, and we may need to make changes to these Terms so that they accurately reflect our Service and policies. Unless otherwise required by law. We are not obliged to notify you before we make changes to these Terms.
      </blockquote>
    </div>
</div>



{% endblock%}