{% extends 'app/base.html'%}
{% block content %}
<style>
        body{
            background-color:rgb(235, 227, 227);
          }
    label{
        color:black;
    }
    input[type="text"]{
        width:100%;
    }
    h2{
        font-weight:bold;
        color:rgb(8, 9, 71);
    }
</style>
<div class="container">
    <br><br><br>
    <center><h2>Complete your registration</h2></center>
    <br>
    <p>Hi <strong style="color:green;">{{user.username}}</strong>, you are almost there.</p>
    <div class="row">
        <div class="col-lg-5">
                <form action="/profile_completion/" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-md btn-success" style="float:right">
                </form>
        </div>
    </div>
</div>
<br><br><br>
{% endblock%}