{% extends 'app/base.html'%}
{% block content %}
<style>
  body{
    background-color:rgb(235, 227, 227);
  }
  .center-div{
    width:100%;
    background-color:white;
    padding:20px 40px 40px 40px;
    
  }
  .heading{
    background-color:darkslateblue;
    color:white;
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
    padding-top:15px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius:5px;
  }
</style>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-5">
      <div class="heading"><span>Galviny Registration</span></div>
      <div class="center-div">
        <form method="post">
          {% csrf_token %}
          
            <p>
              <label for="id_username">Username:</label><br>
              <input type="text" name="username" class="form-control" maxlength="254" autofocus required id="id_username" />
              
              
            </p>
          
            <p>
              <label for="id_email">Email:</label><br>
              <input type="text" name="email" class="form-control" maxlength="254" required id="id_email" />
              
              
            </p>
          
            <p>
              <label for="id_password1">Password:</label><br>
              <input type="password" name="password1" class="form-control" required id="id_password1" />
              
              
            </p>
          
            <p>
              <label for="id_password2">confirm password:</label><br>
              <input type="password" name="password2" class="form-control" required id="id_password2" />
              
              
            </p>
          
            <center>
                <button type="submit" class="btn btn-info btn-lg">Sign up</button>
            </center>
         
        </form>

  
      </div>
    </div>
  </div>
</div>
<br><br><br>
  {% endblock %}