{% extends 'app/base.html'%}
{% block content %}
<style>
  body{
    background-color:rgb(235, 227, 227);
  }
  .center-div{
    width:100%;
    background-color:white;
    padding:20px 40px 40px 40px;
    
  }
  .heading{
    background-color:darkslateblue;
    color:white;
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
    padding-top:15px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius:5px;
  }
  .errorlist{
    color:red;
  }
</style>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-5">
      <div class="heading"><span>Galviny Registration</span></div>
      <div class="center-div">
        <form method="post">
          {% csrf_token %}   
          <input type="hidden" value="{{request.get_full_path}}" name="referrer">   
           {{form.as_p}}
            <center>
                <button type="submit" class="btn btn-info btn-lg">Sign up</button>
            </center>
         
        </form>

  
      </div>
    </div>
  </div>
</div>
<br><br><br>
  {% endblock %}