{% extends 'app/base.html'%}
{% block content%}
<style>
    
h3{
    font-size:60px;
    color:green;
    text-align:center;
}
blockquote{
    text-align:justify;
}
h4{
    color:darkgreen;
}
</style>
<br><br>
    <h3>Terms of use</h3>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h4>The Galviny Service</h4>
                <p>Galviny Service includes all of the Galviny features and technologies that we provide to advance Galviny's mission: Bringing partners to wealth in other to achieve their daily needs in this harsh world of low income. The Service is made up of the following aspects:</p>
                <ul>
                    <li>Stability.</li>
                    <p>We want to strengthen our income through partnership. So we build systems that invest and disburse interest on daily bases which is intended to create a stable financial income for our partners. </p>
                    <li>Developing our growing community.</li>
                    <p>Organizing and analyzing information for our growing community is central to our Service. A big part of our Service is creating and using cutting-edge technologies that help us personalize, protect, and improve our Service on an incredibly large scale for a broad community based on financial stability. Artificial intelligence and machine learning technology gives us the power to apply complex processes across our Service. Automated technologies also help us ensure the functionality and integrity of our Service.</p>
                    <li>Ensuring a stable income.</li>
                    <p>We must store and transfer data across our systems within and around the world, including outside your country of residence to enable us analyze and create a more robust system with a stable income.</p>
                    <li>Connecting you with products, brands and services.</li>
                    <p>We use data from Galviny as well as from third-party partners, to show you ads, offers, and other sponsored content that we believe will be meaningful to you.</p>
                    <li>Research and innovation.</li>
                    <p>We use the information we have to study our Service and collaborate with others on research to make our Service better and contribute to the well-being of our partners.</p>
                </ul>
                <h4>Who can use Galviny</h4>
                <p>In return for our commitment to provide Service for our community, we require you to make the below commitments to us. </p>
                <p>We want our Service to be as open and inclusive as possible, but we also want it to be safe, secure, and in accordance with the law. So, we need you to commit to a few restrictions in order to be part of <strong>Galviny</strong> Galviny community. </p>
                <ul>
                    <li>You must be at least 18 years old to use Galviny.</li>
                    <li>You must not be prohibited from receiving any aspect of our Service under applicable laws or engaging in payments related Services if you are on an applicable denied party listing.</li>
                    <li>You must not be a convicted for money laundry.</li>
                </ul>
                <h4>Who cannot use Galviny</h4>
                <strong>Impersonation and providing of inaccurate information</strong>
                <p>You may not disclose your identity on Galviny, but you must provide us with accurate and up to date information (including registration information). Also, you may not impersonate someone you aren't, and you can't create an account for someone else unless you have their express permission.</p>
                <ol>
                    <li>You can't violate (or help or encourage others to violate) the Terms or our policies.</li>
                    <li>You can't do anything to interfere with or impair the intended operation of this community and its Services.</li>
                    <li>You can't attempt to create accounts or access or collect information in unauthorized ways. This includes creating accounts or collecting information in an automated way without our express permission.</li>
                    <li>You can't attempt to buy, sell, or transfer any aspect of your account (including your username) or solicit, collect, or use login credentials of other users.</li>
                    <li>You can't post private or confidential information or do anything that violates someone else's rights in any of Galviny’s social media or complaint outlet.</li>
                </ol>
                <strong>Permissions From You to Us.</strong>
                <p>You give us permission to show your username and information about you or in connection with accounts, ads, offers, and other sponsored content that are displayed on Galviny community, without any compensation to you. Actions on sponsored content can be seen only by people who have permission to see that content.</p>
                <h4>Additional Rights We Retain</h4>
                <ol>
                    <li>You can only use our property and trademarks or similar marks with our prior written permission.</li>
                    <li>You must obtain written permission from us or under an open source license to modify, create derivative works of, decompile, or otherwise attempt to extract source code from us.</li>
                    </ol>
                    <h4>Content Removal and Disabling or Terminating Your Account</h4>
                    <ul>
                        <li>We can refuse to provide or stop providing all or part of the Service to you (including terminating or disabling your account) immediately to protect our community or services, or if you create risk or legal exposure for us, violate our Terms of Use or our policies if you repeatedly infringe other people's intellectual rights through/other means or where we are permitted or required to do so by law. If we take action to disable or terminate your account, we will notify you where appropriate. If you believe your account has been terminated in error, or you want to disable or permanently delete your account, consult us.</li>
                    </ul>
                    <h4>Who Is Responsible if Something Happens.</h4>
                    <ul>
                        <li>Our Service is provided "as is," and we can't guarantee it will be safe and secure or will work perfectly all the time. TO THE EXTENT PERMITTED BY LAW, WE ALSO DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.</li>
                        <li>We also don’t control what people and others do or say, and we aren’t responsible for their (or your) actions or conduct (whether online or offline) or content (including unlawful or objectionable content). We also aren’t responsible for services and features offered by other people or companies, even if you access them through our Service.</li>
                        <li>Our responsibility for anything that happens on the Service (also called "liability") is limited as much as the law will allow. If there is an issue with our Service, we can't know what all the possible impacts might be. You agree that we won't be responsible ("liable") for any lost profits, revenues, information, or data, or consequential, special, indirect, exemplary, punitive, or incidental damages arising out of or related to these Terms, even if we know they are possible. This includes when we delete your account.</li>
                    </ul>
                    <strong>Unsolicited Material.</strong>
                    <p>We always appreciate feedback or other suggestions, but may use them without any restrictions or obligation to compensate you for them, and are under no obligation to keep them confidential.</p>
                    <h4>Updating These Terms</h4>
                    <p>We may change our Service and policies, and we may need to make changes to these Terms so that they accurately reflect our Service and policies. Unless otherwise required by law. We are not obliged to notify you before we make changes to these Terms.</p>
              </div>

    </div>
</div>



{% endblock%}