{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
	<title>Dashboard | Galviny - User profile page</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'app/css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'app/css/lineariconstyle.css'%}">
	<!-- MAIN CSS -->
	
	<script src="{% static 'app/js/jquery.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'app/css/main.css'%}">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html">Galviny</a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="fa fa-bars"></i></button>
				</div>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="{% url 'fundwallet' %}" title="Upgrade to Pro" target="_blank"> <span>Fund Wallet</span></a>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
		
						<li class="dropdown">
							<a href="{% url 'logout'%}" >Logout</a>

						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'app/img/user.png'%}" class="img-circle" alt="Avatar"> <span>{{user.username}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="{% url 'profile' %}" class="active"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
						<li><a href="{% url 'fundwallet' %}" class=""><i class="fa fa-cart-arrow-down"></i> <span>Fund wallet</span></a></li>
						<li><a href="{% url 'withdrawal' %}" class=""><i class="fa fa fa-key"></i> <span>Withdraw</span></a></li>
						<li><a href="{% url 'testimony'%} " class=""><i class="fa fa-microphone"></i> <span>Testimony</span></a></li>
						<li><a href="{% url 'referrer'%} " class=""><i class="fa fa-microphone"></i> <span>Referral</span></a></li>
						<li>
								<li><a href="{% url 'index' %}"target="_blank" class=""><i class="fa fa-bell"></i> <span>Contact us</span></a></li>
							</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h2 class="panel-title" style="font-size:30px;">Share your testimony with others</h2>
								</div>
						<div class="panel-body">
							<div class="row">
                                <div class="col-lg-6">
                                        <form id="testimony_form" method ="POST">
                                            {% csrf_token %}
												<textarea name="" id="testimony1" cols="50" rows="10" ></textarea><br><br>
												<input type="submit" class="btn btn-success" style="float:right">
												
                                        </form>
                                </div>
								
								
						</div>
					</div>
					<!-- END OVERVIEW -->
					<script>
						$(document).on('submit', '#testimony_form', function(e){
							e.preventDefault();
							$('#closed').click(function () {
							  $('.modals').css('display', 'none');
							  
						  });
							$.ajax({
								type: 'POST',
								url: '/testimony/',
								  data: {
											   testimony1: $('#testimony1').val(),
											   csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
								},
				  
								success: function (amount) {
									if (amount.count) {
										$('#error').css('display', 'block');
										 $('#ajax_text').css('display', 'none');
										 $('#ajax_image').css('display', 'none');
										 $('#closed').css('display', 'block');
										$('.modals').css('display', 'block');
									}
				  
									else {
										alert('You have successfully shared a testimony');
										
				  
									}
								},
								error: function (xhr, errmsg) {
									$('#error').html("<div class='alert-box alert radius' data-alert> Opps! We have encountered and error: </div>");
								}
							});
				  
						});
						  </script>
		<div class="clearfix"></div>
		
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	
	<script src="{% static 'app/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'app/js/klorofil-common.js' %}"></script>
</body>
</html>
